<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
      </li>
      <li>
        <a href="/page1"><span class="glyphicon glyphicon-book"></span> Page 1</a>
      </li>
      <li>
        <a href="/page2"><span class="glyphicon glyphicon-book"></span> Page 2</a>
      </li>
      <li>
        <a href="/page3"><span class="glyphicon glyphicon-book"></span> Page 3</a>
      </li>
      <li>
        <a href="/page4"><span class="glyphicon glyphicon-book"></span> Page 4</a>
      </li>
      <li>
        <a href="/page5"><span class="glyphicon glyphicon-book"></span> Page 5</a>
      </li>
    </ul>
  </div>
</nav>
