<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div id="nav" class="container">
    <ul class="nav navbar-nav">
      <li>
        <a href="/"><span class="glyphicon glyphicon-home"></span> About Node.JS</a>
      </li>
      <li>
        <a href="/page2"><span class="glyphicon glyphicon-book"></span> Installing Node.JS</a>
      </li>
      <li>
        <a href="/page3"><span class="glyphicon glyphicon-book"></span> Node.JS Tutorial</a>
      </li>
      <li>
        <a href="/page4"><span class="glyphicon glyphicon-book"></span> Our Experience</a>
      </li>
      <li>
        <a href="/page5"><span class="glyphicon glyphicon-book"></span> Credits</a>
      </li>
    </ul>
  </div>
</nav>
