<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
          <img src="imgs/lang-logo.png">
        </a>
        <h1>What is Node.JS</h1>
        <hr />
        <p>
          NodeJS, is a cross-platform JavaScript runtime environment that uses Google’s Chrome V8 JavaScript engine to execute JavaScript programs outside the web browsers.
        </p>
        <p>
          Node.JS is widely used in the corporate world to power company websites. Companies that develop software and websites using Node.JS include but are not limited to: LinkedIn, PayPal and Yahoo!. The websites that are powered by Node.JS vary from being Financial services, social media to search engine websites.
        </p>
      </div>
    </div>
    <div id="p1" class="container">

      <div style="margin:auto;max-width:70%">
        <img style="width:800px;height:480px;" src="imgs/eventloop.png" />
      </div>

      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center"><span class="glyphicon glyphicon-info-sign"></span> Strengths</h3>
          <ul>
            <li>Leading industry support, NodeJS is highly mature and has a thousands of open source libraries.</li>
            <li>Uses modules to add additional functionality such as I/O, networking tools (DNS, HTTP, TLS, etc), cryptographic algorithms and many other core functionality.</li>
            <li>Ability to create highly scalable web servers and networking tools.</li>
            <li>Ability to bring event driven programming to web servers.</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3 class="text-center"><span class="glyphicon glyphicon-info-sign"></span> Weaknesses</h3>
          <ul>
            <li>Node.JS is a single threaded runtime engine, as a result it does not support multi-threading applications.</li>
            <li>Node.JS does not allow for vertical scaling.</li>
            <li>Uses the JavaScript event loop, which processes request in a queue; not suited for heavy server-side processing.</li>
            <li>Can only use JavaScript.</li>
          </ul>
        </div>
      </div> <!-- row -->
    </div>
  </body>
</html>
