<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>

    <div class="container">
      <h1>CREDITS</h1>
      <div>
        <img class="img-thumbnail" src="imgs/rKalra.jpg"></img>
      </div>
      <div>
        <img class="img-thumbnail" src="imgs/pPaszkiewicz.jpg"></img>
      </div>
      <div>
        <img class="img-thumbnail" src="imgs/cXue.jpg"></img>
      </div>
      <div>
        <img class="img-thumbnail" src="imgs/bSamSoon.jpg"></img>
      </div>
    </div>
  </body>
</html>
