<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
          <img src="imgs/lang-logo.png">
        </a>
        <h1>Credits</h1>
        <hr />
        <p>
          Who did what?
        </p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center">Rishabh Kalra</h3>
          <div class="portaits">
          <img class="pimg img-thumbnail img-circle" src="imgs/rKalra.jpg"></img>
          </div>
          <ul>
            <li>Rishabh Kalra managed the website's overal progress.</li>
            <li>He set up a repository for the group to work on and routed all of the site's pages together.</li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="portaits">
            <h3 class="text-center">Peter Paszkiewicz</h3>
            <img class="pimg img-thumbnail img-circle" src="imgs/pPaszkiewicz.jpg"></img>

          </div>
          <ul>
            <li>Peter Paszkiewicz worked on processing the website's content.</li>
            <li>He worked on the styling of each page and finalizing content.</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="portaits">
            <h3 class="text-center">Calvin Xue</h3>
            <img class="pimg img-thumbnail img-circle" src="imgs/cXue.png"></img>

          </div>
          <ul>
            <li>Calvin Xue was in charge of documenting the group's work process.</li>
            <li>He captured images throughout the website's installion and development, and worked on creating an easy to understand tutorial.</li>
          </ul>
        </div>
        <div class="col-md-6">
          <div class="portaits">
            <h3 class="text-center">Brandon Sam Soon</h3>
            <img class="pimg img-thumbnail img-circle" src="imgs/bSamSoon.png"></img>

          </div>
          <ul>
            <li>Brandom Sam Soon worked on researching the technical aspects of Node.js.</li>
            <li>He wrote up drafts for the website's content, which the group then finalized and deployed to the final product.</li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
