<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
          <img src="imgs/lang-logo.png">
        </a>
        <h1>How To Use Node.JS</h1>
        <hr />
        <p>
          Short tutorial on how to use Node.JS.
        </p>
      </div>
    </div>

    <div class="container">
      <h2>Step 1</h2>
      <div class="well">
        <p id="p1" class="text-center">
          Create a new directory on your computer somewhere and place our <code>package.json</code> inside it.
        </p>
      </div>

      <h2>Step 2</h2>
      <div class="well">
        <p id="p1" class="text-center">
          Run the <code>npm install</code> in your command line to begin installing the dependencies for the project.
        </p>
      </div>

      <h2>Step 3</h2>
      <div class="well">
        <p id="p1" class="text-center">
          Create a <code>server.js</code> file in the root of your project with the following contents.
        </p>
      </div>

      <h2>Step 4</h2>
      <div class="well">
        <p id="p1" class="text-center">
          Create an <code>index.html</code> file in the root of your project with whatever content you like, styled however you like.
        </p>
      </div>

      <h2>Step 5</h2>
      <div class="well">
        <p id="p1" class="text-center">
          Run <code>node server.js</code> in your command line to start the local node server and open your browser to <code>http://localhost:3000/</code>
        </p>
      </div>
    </div>
  </body>
</html>
