<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
          <img src="imgs/lang-logo.png">
        </a>
        <h1>Our experience with Node.js</h1>
        <hr />
      </div>
    </div>
    <div id="p1" class="container">
      <div class="row">
          <div class="col-md-5 panel panel-primary">
            <div class="panel-heading">Performance</div>
            <div class="panel-body">
              Our experience with Node.js was very pleasant. It did very well in performing to our expectations,
              as there was a vast amount of resources available on the web to assist us in building our project.
            </div>
          </div>
          <div class="col-md-2">

          </div>
          <div class="col-md-5 panel panel-primary">
            <div class="panel-heading">Installation Difficulty</div>
            <div class="panel-body">
              Eat my ass
            </div>
          </div>
      </div> <!-- row -->
      <br />
      <div class="row">
        <div class="col-md-5 panel panel-primary">
          <div class="panel-heading">Page Creation</div>
          <div class="panel-body">
            My ass is yummy
          </div>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-5 panel panel-primary">
          <div class="panel-heading">Learning Curve</div>
          <div class="panel-body">
            Like, really yummy
          </div>
        </div>
      </div> <!-- row -->
      <br />
      <div class="row">
        <div class="col-md-5 panel panel-primary">
          <div class="panel-heading">Retrospective</div>
          <div class="panel-body">
            In retrospect, that ass was only okay
          </div>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-5 panel panel-primary">
          <div class="panel-heading">What Would We Do Differently?</div>
          <div class="panel-body">
            Add maple syrup
          </div>
        </div>
      </div> <!-- row -->
    </div>
  </body>
</html>
