<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
          <img src="imgs/lang-logo.png">
        </a>
        <h1>Node.JS Installation Tutorial</h1>
        <hr />
        <p>
          Short tutorial on how to install Node.JS
        </p>
      </div>
    </div>

    <div class="container">
      <h2>Step 1</h2>
      <div class="well">
        <p id="p1" class="text-center">
          Navigate to nodejs.org, download the respective installation package for your system.
        </p>
      </div>
      <h2>Step 2</h2>
      <div class="well">
        <p id="p1" class="text-center">
          Run the installation package and follow the instructions to install Node.JS.  You may leave all settings default.
        </p>
        <div class="row">
          <div class="col-md-6">
            <img class="img-well" src="imgs/s1.jpg" />
          </div>
          <div class="col-md-6">
            <img class="img-well" src="imgs/s2.jpg" />
          </div>
        </div><br />
        <div class="row">
          <div class="col-md-6">
            <img class="img-well" src="imgs/s3.jpg" />
          </div>
          <div class="col-md-6">
            <img class="img-well" src="imgs/s4.jpg" />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
