<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
          <img src="imgs/lang-logo.png">
        </a>
        <h1>Credits</h1>
        <hr />
        <p>
          What did what?
        </p>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="portaits">
            <h3 class="text-center">Rishabh Kalra</h3>
            <img class="pimg img-thumbnail img-circle" src="imgs/rKalra.jpg"></img>
            <ul>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="portaits">
            <h3 class="text-center">Peter Paszkiewicz</h3>
            <img class="pimg img-thumbnail img-circle" src="imgs/pPaszkiewicz.jpg"></img>
            <ul>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="portaits">
            <h3 class="text-center">Calvin Xue</h3>
            <img class="pimg img-thumbnail img-circle" src="imgs/cXue.png"></img>
            <ul>
              <li></li>
            </ul>
          </div>
        </div>
        <div class="col-md-6">
          <div class="portaits">
            <h3 class="text-center">Brandon Sam Soon</h3>
            <img class="pimg img-thumbnail img-circle" src="imgs/bSamSoon.png"></img>
            <ul>
              <li></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
