<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
          <img src="imgs/lang-logo.png">
        </a>
        <h1>What is Node.JS</h1>
        <p>NodeJS, is a cross-platform JavaScript runtime environment that uses Google’s Chrome V8 JavaScript engine to execute JavaScript programs outside the web browsers.</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h3 class="text-center"><span class="glyphicon glyphicon-info-sign"></span> Strengths</h3>
          <ul>
            <li>Leading industry support, NodeJS is highly mature and has a thousands of open source libraries.</li>
            <li>Uses modules to add additional functionality such as I/O, networking tools (DNS, HTTP, TLS, etc), cryptographic algorithms and many other core functionality.</li>
            <li>Ability to create highly scalable web servers and networking tools.</li>
            <li>Ability to bring event driven programming to web servers.</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h3 class="text-center"><span class="glyphicon glyphicon-info-sign"></span> Weaknesses</h3>
          <ul>
            <li>Node.JS is a single threaded runtime engine, as a result it does not support multi-threading applications.</li>
            <li>Node.JS does not allow for vertical scaling.</li>
            <li>Uses the JavaScript event loop, which processes request in a queue; not suited for heavy server-side processing.</li>
            <li>Can only use JavaScript.</li>
          </ul>
        </div>
      </div> <!-- row -->
    </div>
  </body>
</html>
