<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>

    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
          <img src="imgs/lang-logo.png">
        </a>
        <h1>How To Use Node.JS</h1>
        <hr />
        <p>
          Short tutorial on how to use Node.JS.
        </p>
      </div>
    </div>


  </body>
</html>
