<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>
    <div class="jumbotron text-center">
      <div class="container">
        <a href="/" class="lang-logo">
          <img src="imgs/lang-logo.png">
        </a>
        <h1>Our experience with Node.js</h1>
        <hr />
      </div>
    </div>
    <div id="p1" class="container">
      <div class="row">
          <div class="col-md-5 panel panel-primary">
            <div class="panel-heading">Performance</div>
            <div class="panel-body">
              Our experience with Node.js was very pleasant. It did very well in performing to our expectations,
              as there was a vast amount of resources available on the web to assist us in building our project.
            </div>
          </div>
          <div class="col-md-2">

          </div>
          <div class="col-md-5 panel panel-primary">
            <div class="panel-heading">Installation Difficulty</div>
            <div class="panel-body">
              Node.js was relatively easy to install. We did not encounter any problems in getting it up and running.
            </div>
          </div>
      </div> <!-- row -->
      <br />
      <div class="row">
        <div class="col-md-5 panel panel-primary">
          <div class="panel-heading">Page Creation</div>
          <div class="panel-body">
            Since Node.js itself is not a CMS, nor a Framework, we can not assest to the difficulty of creating a
            page with it. It is merely a platform in which we are able to serve pages to the user, that we created
             and styled by other means.
          </div>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-5 panel panel-primary">
          <div class="panel-heading">Learning Curve</div>
          <div class="panel-body">
            There was not much of a learning curve in terms of learning to use Node.js. It is a platform based off of
            Javascript, and we were already familiar with most of its operations.
          </div>
        </div>
      </div> <!-- row -->
      <br />
      <div class="row">
        <div class="col-md-5 panel panel-primary">
          <div class="panel-heading">Retrospective</div>
          <div class="panel-body">
            In retrospect, what we would have done differently for this project was to have chosen a front-end framework
            such as React. Since Node.js is back-end software, we had to adjust a lot of our speaking points to focus on
            back-end operations instead of visually appealing front-end.
          </div>
        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-5 panel panel-primary">
          <div class="panel-heading">Regrets?</div>
          <div class="panel-body">
            No, we do not regret the choice we made in choosing Node.js. It is very useful to know, as it can be applied
            to a large number of projects that cover various needs.
          </div>
        </div>
      </div> <!-- row -->
    </div>
  </body>
</html>
