<!DOCTYPE html>
<html>
  <head>
    <% include ../partials/header.ejs %>
  </head>
  <body>
    <% include ../partials/nav.ejs %>

    <h1>CREDITS</h1>

      <div><img="nodejs-demo\assets\imgs\rKalra.jpg"></img></div>
      <div><img="nodejs-demo\assets\imgs\pPaszkiewicz.jpg"></img></div>
      <div><img="nodejs-demo\assets\imgs\cXue.jpg"></img></div>
      <div><img="nodejs-demo\assets\imgs\bSamSoon.jpg"></img></div>
  </body>
</html>
